<div class="row well" >
	<div class="col-md-3 col-sm-5"><img width="150px" ng-src="{{hotel.image}}"/></div>
	<div class="col-md-3 col-sm-3" >
		<hotel-summary></hotel-summary>
	</div>
	<div class="col-md-3">
		<div>
			<button type="button" ng-click="upVote(hotel)" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-chevron-up"></span>
			</button>
		</div>
		<span class="h4"><div class="label label-info">{{hotel.rating}}</div></span>
		<div>
			<button type="button" ng-click="downVote(hotel)" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
		</div>
	</div>
</div>